<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GAPRE</title>
  </head>
  <body>




      <a href='/'> Home</a></p>
      <p><a href='/type/G'> Reported Garbage</a></p>
      <p><a href='/type/P'>Reported Pothhole</a></p>
      <p><a href='/new'>Report New Pothhole || Garbage</a></p>
      <p>    <a href="/adminreg">Admin</a>     </p>
      <p>    <a href="/login">AdminLogin</a>     </p>
      <p>    <a href="/logout">Logout</a>     </p>
     
