<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GAPRE</title>
  </head>
  <body>




      <a href='/'> Home</a></p>
      <p><a href='/garbage'> Reported Garbage</a></p>
      <p><a href='/potholes'>Reported Pothhole</a></p>
      <p><a href='/new'>Report New Pothhole || Garbage</a></p>
